
@import "tailwindcss";


:root {
  --background: #251919;
  --foreground: #171717;
}




@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  color: #0a0a0a;
  /* font-family: 'Almaria'; */
}
